<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<footer class="bg-gradient-sombrio text-white pt-5" th:fragment="footer">
    <div class="container">

        <div class="row mb-4">
            <div class="col-12 col-md-10 offset-md-1 text-center">
                <p class="fs-5 text-white-50 fst-italic">"A gestão de tarefas não é apenas sobre fazer as coisas; é sobre criar espaço para fazer o trabalho que realmente importa."</p>
            </div>
        </div>

        <hr class="border-light border-opacity-25 my-4">

        <div class="row">

            <div class="col-12 col-md-4 mb-4">
                <div class="footer-item">
                    <p class="fw-bold fs-5">Criado com &#x2764;&#xfe0f; por:</p>
                    <img th:src="@{/img/TASKFLOW LOGO.png}" alt="Logo da Empresa" style="max-height: 50px; width: auto;">
                </div>
            </div>

            <div class="col-12 col-md-4 mb-4">
                <div class="footer-item">
                    <p class="fw-bold fs-5">Redes sociais:</p>
                    <ul class="list-unstyled">
                        <li>
                            <a class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                               href="https://www.instagram.com"><i class="fa-brands fa-instagram me-2"></i> Instagram</a>
                        </li>
                        <li>
                            <a class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                               href="https://www.linkedin.com/in/lucas-melo-dev"><i class="fa-brands fa-linkedin me-2"></i> Linkedin</a>
                        </li>
                        <li>
                            <a class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                               href="https://www.github.com/Luc033"><i class="fa-brands fa-square-github me-2"></i> Github</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-4">
                <div class="footer-item">
                    <p class="fw-bold fs-5">Sobre o TaskFlow:</p>
                    <p>TaskFlow é uma ferramenta minimalista que irá te auxiliar na gestão da suas tarefas.</p>
                    <a class="link-light link-offset-3 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                       th:href="@{/aboutme}">
                        Saiba mais sobre o que o TaskFlow pode fazer.
                    </a>
                </div>
            </div>
        </div> <div class="row">
        <div class="col-12 text-center border-top border-light border-opacity-25 pt-3 mt-3">
            <div style="font-size: 8pt;">
                Todos os direitos reservados &copy; 2025
            </div>
        </div>
    </div>

    </div> </footer>

</html>