<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<header class="bg-dark text-white d-flex justify-content-center align-items-between p-2 " th:fragment="header">
    <div class="w-25 text-center">
        <img class="img-fluid "  th:src="@{/img/TASKFLOW LOGO 2.png}" alt="" srcset="" >
    </div>
    <nav class="d-flex align-items-center justify-content-around w-50">
        <a class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover
         d-flex flex-column align-items-center justify-content-center gap-2"
           th:href="@{/home}">
            <i class="fa fa-thin fa-house fa-lg">
            </i>
            Início
        </a>
        <a class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover
         d-flex flex-column align-items-center justify-content-center gap-2"
           th:href="@{/task/new}">
            <i class="fa-solid fa-clipboard-list fa-lg"></i>
            Nova tarefa
        </a>
        <a class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover
         d-flex flex-column align-items-center justify-content-center gap-2"
           th:href="@{/aboutme}">
            <i class="fa-regular fa-circle-question fa-lg"></i>
            Saiba mais
        </a>

    </nav>
    <div class="w-25"></div>
</header>
</html>